.container {
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}